<!DOCTYPE html>
<html>
<head>
	<title>Accout Manager</title>
</head>
<body>
	<a href="/">Home</a><br>

	<form  action="/addplayer" method="post">MAC: 
		<input type="text" name="mac" /> IP :
		<input type="text" name="ip" />
        <input type="submit" value="add device" />
        <br />
        <br />
        {% module xsrf_form_html() %}
      </form>	


	<form enctype="multipart/form-data" action="/upload" method="post">File: <input type="file" name="filearg" />
        <br />
        <br />
        <input type="submit" value="upload" />
        {% module xsrf_form_html() %}
      </form>
	

		{% for play in players%}
		<a href="#">{{ play.player_id }} :: {{ play.player_ip }}</a>
		<br>
	{%end%}
</body>
</html>