{% extends base.html %}

{% block extend_head %}
<script src="{{ static_url("js/socket.js") }}" type="text/javascript"></script>
{% end %}

</head>
<body>
  {% block header %}
  {%end%}
  {%block body%}
  <h1>{{brand}}</h1>
  <h3>IP : {{player_ip}}</h3>
  <div hidden id = "ip" >{{player_ip}}</div>

  test data <input type="text" id="var" >
  <button id = "play"  > play</button>

  <button name="previous" value="previous" onclick="OnClick('previous')"> previous</button>
  <button name="play_pause" value="play_pause" onclick="OnClick('play_pause')"> Play/Pause</button>
  <button name="next" value="next" onclick="OnClick('next')"> next </button>     
  <br>


  <form name ='playlist_list' id ='playlist_list'>
    <select id = "playlist_name" name='playlist_name'>

      {% for playlist in playlists%}
      <option value='{{playlist.playlist_name}}'>{{playlist.playlist_name}}</option>
      {%end%}
    </select>

    <input type="button" id="edit_playlist" value="edit">

  </form>
  <input type="button" id="load_playlist" value="load">

  <br>
  <div id ="file_list">
    {% for file in files %}
    <input type="radio" name="file" value="{{file.get_file_name()}}">{{file.get_file_name()}}<br>
    {%end%}
  </div>

  <form id="edit_song_list_form">

    <div id="edit_song_list">
      <input id="playlist_temp" name="playlist_temp"></input><br>
    </div>

  </form>


  <input type="text" id ="add_playlist"><input type="button" id = "add_button" value="add">

  <div id="result">

  </div>

  <div id="temp_id">{{temp_id}}</div>
  {%end%}
  {% block extend_tail %}
  <script src="{{ static_url("js/event.js") }}" type="text/javascript"></script>
  {% end %}


</body>
</html>