{% extends base.html %}

{% block extend_head %}
<script src="{{ static_url("js/socket.js") }}" type="text/javascript"></script>
{% end %}

</head>
<body>
  {% block header %}
  {%end%}
  {%block body%}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <h1>{{brand}}</h1>
            <h3>IP : {{player_ip}}</h3>
            <div hidden id = "ip" >{{player_ip}}</div>
          </div>
          <div class="col-md-6 text-right">
            <br><br>Playing...<br>
             <input class="form-control" disabled type="text" id="status" >
          </div>
        </div>
        <div class="row">
          <input class="form-control" disabled type="text" id="var" >
          <!--  <button   > play</button> -->

          <button type="button" id = "play" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-play"></span>
          </button>
          <div class="row">
            <div class="col-md-4">
              <button name="previous" value="previous" class="btn btn-default btn-block" onclick="OnClick('previous')">
                <span class="glyphicon glyphicon-backward"></span>

              </button>
            </div>
            <div class="col-md-4">
              <button name="play_pause" value="play_pause" class="btn btn-default btn-block" onclick="OnClick('play_pause')"> 
                <span class="glyphicon glyphicon-play"></span>
                <span class="glyphicon glyphicon-pause"></span>
              </button>
            </div>
            <div class="col-md-4">
              <button name="next" value="next" class="btn btn-default btn-block" onclick="OnClick('next')"> 
                <span class="glyphicon glyphicon-forward"></span> 
              </button>  
            </div>   
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <form name ='playlist_list' id ='playlist_list'>
          <select id = "playlist_name" class="form-control" name='playlist_name'>
            {% for playlist in playlists%}
            <option value='{{playlist.playlist_name}}'>{{playlist.playlist_name}}</option>
            {%end%}
          </select>
        </form>
        <div class="row">
          <div class="col-md-6">
            <input type="button" id="load_playlist" class="btn btn-success btn-block" value="load">
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#test">Edit</button>
          </div>
        </div>
        <div id ="file_list">
         {% for file in files %}
         <input type="radio" name="file" value="{{file.get_file_name()}}">{{file.get_file_name()}}<br>
         {%end%}
       </div>
     </div>

  </div>
  <div id="temp_id" hidden>{{temp_id}} </div>
</div>



<div class="modal fade " id ="test" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container-fluid">
      <div class="col-md-6">
        <form id="edit_song_list_form">
          <div class="col-md-3">
            <input type="button" id="edit_playlist" class="btn btn-primary "  value="edit">
          </div>
          <div class="col-md-9">
            <input class="form-control" id="playlist_temp" name="playlist_temp"></input>
          </div>
          <div id="edit_song_list">

          </div>
           <input type="text" name="edpl_id" value="{{temp_id}}" hidden>
           <input type="text" name="edpl_ip" value="{{player_ip}}" hidden>
        </form>
        
      </div>
      <div class="col-md-6">
        <div class="col-md-3">
        <input type="button" class="btn btn-primary " id = "add_button" value="add">
        </div>
        <div class="col-md-9">
        <input type="text" class="form-control" id ="add_playlist">
        </div>
      </div>
    </div>
  </div>
</div>
{%end%}
{% block extend_tail %}
<script src="{{ static_url("js/event.js") }}" type="text/javascript"></script>
{% end %}


</body>
</html>